<div class="login-container">
    <h2>Login</h2>
    <form>
        <mat-form-field class="form-input">
            <input matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field class="form-input">
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <div>
            <a href="#" class="form-link">Create a new account</a>
        </div>
        <div>
            <a href="#" class="form-link">Forgot password?</a>
        </div>
    </form>
</div>
