<div class="login-container">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm">
        <mat-form-field class="form-input">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email')!.hasError('required')">Veuillez saisir votre adresse e-mail.</mat-error>
            <mat-error *ngIf="loginForm.get('email')!.hasError('email')">L'adresse e-mail saisie n'est pas valide.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-input">
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')!.hasError('required')">Veuillez saisir votre mot de passe.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">Se connecter</button>
    </form>
</div>
