<h2>LISTE DES ARTICLES</h2>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="button-container">
  <button mat-raised-button color="primary" *ngIf="showModifierButton" (click)="openEditProductModal(product)">Modifier</button>
  <button mat-raised-button color="warn" *ngIf="showSupprimerButton" (click)="onDeleteProduct(selectedRows)">Supprimer</button>
  <button mat-raised-button color="primary" (click)="openCreateProductModal()">AJOUTER</button>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select" >
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox *ngIf="showCheckbox" [(ngModel)]="selectAllChecked" (change)="selectAllRows($event)"></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox [(ngModel)]="row.isSelected" (change)="selectRow(row)"></mat-checkbox>
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef> RÉFÉRENCE </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.reference }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef> DÉSIGNATION </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.designation }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="sellingPrice">
        <mat-header-cell *matHeaderCellDef> P.V HT </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.sellingPrice }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="purchasePrice">
        <mat-header-cell *matHeaderCellDef> P.A HT </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.purchasePrice }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="tax">
        <mat-header-cell *matHeaderCellDef> TVA </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.tax }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="ttc">
        <mat-header-cell *matHeaderCellDef> P.V TTC </mat-header-cell>
        <mat-cell *matCellDef="let product"> 
        {{ (product.sellingPrice + (product.sellingPrice * (product.tax / 100))).toFixed(3) }}
        </mat-cell>
      </ng-container>
        
      <ng-container matColumnDef="lastUpdate">
        <mat-header-cell *matHeaderCellDef> DERNIÈRE MAJ </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.lastUpdate | date:'d/M/yyyy' }}
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="paginator.length" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  