.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card {
    flex: 1 1 300px; /* Adjust width as needed */
    margin: 10px; /* Adjust spacing between cards */
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px); /* Two cards in a row on smaller screens */
    }
  }
  
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .delete-button {
    margin-right: 8px;
  }

  .download-button {
    margin-left: auto;
  }
}

.totals-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}